
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Layout</title>
    <link rel="stylesheet" href="/src/app/uso-material/uso-material.component.css">
</head>
<body>
    <div class="container">
        <h3 class="mensajeBienvenida">Registra tu material</h3>
        <!-- Logo -->
        <div class="logo">
            <img src="ugt.png" alt="Logo"/>
        </div>
        <!-- Buttons -->
        <div class="buttons">
            <button>Registar Libro/Juego</button>
            <button>Registrar Audio Libro</button>
            <button>Regresar</button>
        </div>
    </div>
</body>
</html>