<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Layout</title>
    <link rel="stylesheet" href="/src/app/uso-material/uso-material.component.css">
</head>
<body>
    <div class="container">
        <h3 class="mensajeBienvenida">Registrar Audiolibro</h3>
        <!-- Logo -->
        <div class="logo">
            <img src="ugt.png" alt="Logo"/>
        </div>
         <!-- Formulario -->
        <div class="form">
            <form class="formulario">
                <label for="fname" class="textoCampo">NUA:</label><br>
                <input type="number" class="inputForm" id="fname" name="fname"><br>
                <label for="fname" class="textoCampo">Nombre Material:</label><br>
                <input type="text" class="inputForm" id="fname" name="fname"><br>
                <label for="lname" class="textoCampo" >Editorial:</label><br>
                <input type="text" class="inputForm" id="lname" name="lname"><br>
                <label for="lname" class="textoCampo">ISBN:</label><br>
                <input type="text" class="inputForm" id="lname" name="lname">
            </form>
        </div>
        <!-- Buttons -->
        <div class="buttons">
            <button>Enviar</button>
            <button>Regresar</button>
        </div>
    </div>
</body>
</html>