
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Layout</title>
    <link rel="stylesheet" href="/src/app/home/home.component.css">
</head>
<body>
    <div class="container">
        <h3 class="mensajeBienvenida">BIENVENIDO A CAADI</h3>
        <!-- Logo -->
        <div class="logo">
            <img src="ugt.png" alt="Logo"/>
        </div>
        <!-- Text and Input -->
        <div class="content">
            <div class="input-field">
                <label for="text">NUA</label>
                <input type="text" id="input" placeholder="Dijita Tu NUA">
            </div>
        </div>
        <!-- Buttons -->
        <div class="buttons">
            <button>Inicar Visita</button>
            <button>Registrar Material</button>
            <button>Finalizar Visita</button>
        </div>
    </div>
</body>
</html>
  
